*, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #181717;
  }

  a:link, a:visited, a:active  {
    text-decoration: none; 
    color: #da0243;
  }


  nav {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    background-color: #ffffff;
    
    
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    padding: 0.5rem;
    flex: auto;
    text-align: center;
  }

  li a:hover {
    background-color: #da0243;
    color: white;
    padding: 3%;
    border-radius: 3%;
  }

/* Responsive Nav Bar */
@media all and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}