/*GENERAL*/
*, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #181717;
  }

  a:link, a:visited, a:active  {
    text-decoration: none; 
    color: #FC5050;
    font-weight: bold;
  }

/*NAVIGATION*/

  nav {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color: #ffffff;
    
    
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
  }

  nav ul li {
    padding: 2rem;
  }

  nav ul li a:hover {
    background-color: #FC5050;
    color: white;
    padding: 10%;
    border-radius: 5%;
  }

  #logo {
    margin-right: auto;
    padding-left: 2rem;
  }

/*DESKTOP SCREENS*/
@media only screen and ( min-width: 600px ) {
  .hamburger {
    display:none;
  }
}  

/*MOBILE SCREENS*/

@media all and (max-width: 600px) {
  .hamburgerMenu {
    flex-direction: column;
    color: #fff;
  }

/*HAMBURGER MENU*/
.hamburger {
  position: relative;
}

.hamburger button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 20;
  cursor: pointer;
  background: transparent;
  outline: none; /*outline should exist for accessibility!*/
  border: none;
  box-shadow: none;
}

.hamburgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2e2e2e;
  width: 0; /*because it has to be invisible until clicked (showMenu) */
  z-index: 10;
}

.hamburgerMenu.showMenu {
  width: 100%;
  max-height: 80vh;
}

.hamburger a{
  position:relative;
  display: list-item;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
  color: #FC5050;
  top: 25vh;
  padding: 1rem;
  text-align:center;
}

.hamburgerMenu span:first-child {
  margin-top: 6rem;
}

  #logo {
    margin:auto;
    padding:0;
    z-index:1000;
  }

  nav ul li {
    display: none;
  }

}  

/*HOME*/
.home{
  margin: 0;
  padding: 2rem;
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  height: 25rem;
}
