/*GENERAL*/
*, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #181717;
  }

  a:link, a:visited, a:active  {
    text-decoration: none; 
    color: #da0243;
    font-weight: bold;
  }

/*NAVIGATION*/

  nav {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color: #ffffff;
    
    
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
  }

  nav ul li {
    padding: 2rem;
  }

  nav ul li a:hover {
    background-color: #da0243;
    color: white;
    padding: 10%;
    border-radius: 5%;
  }

  #logo {
    margin-right: auto;
    padding-left: 2rem;
  }


/*HAMBURGER MENU*/
.hamburger {
  position: relative;
}

.hamburger button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 20;
  cursor: pointer;
  background: transparent;
  outline: none; /*outline should exist for accessibility!*/
  border: none;
  box-shadow: none;
}

.hamburgerMenu {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #da0243;
  height: 100vh;
  width: 0;
  max-width: 290px;
  z-index: 10;
}

.hamburgerMenu.showMenu {
  width: 100%;
}

.hamburger a {
  
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.hamburgerMenu li:first-child {
  margin-top: 7rem;
}

/*RESPONSIVE NAVIGATION*/
@media only screen and ( min-width: 600px ) {
  .hamburger {
    display:none;
  }

}  

@media all and (max-width: 600px) {
  .hamburgerMenu {
    flex-direction: column;
  }

  #logo {
    margin:auto;
    padding:0;
  }

  nav ul li {
    display: none;
  }

 

}  

/*HOME*/
.home{
  margin: 0;
  padding: 2rem;
  background-color: #f2f2f2;
  position: relative;
  width: 100%;
  height: 25rem;
}
